@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #171725;
  color: #ffffff;
}

.input-log {
  padding: 1rem;
  width: 60%;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  background-color: #D9D9D9;
  color: #000;
}

.auth-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  height: 80vh;
}

.toggle-buttons {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  width: 60%;
  margin: 20px auto;
  background-color: #D9D9D9;
}

.auth-title,
.auth-link {
  flex: 1;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-title,
.auth-link {
  background-color: #D9D9D9;
  color: black;
}

.auth-title.selected,
.auth-link.selected {
  background-color: #C862CA;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-button {
  padding: 10px 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #C862CA;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  margin: 30px 0;
  font-size: 20px;
}

td {
  border: none;
}